body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
html{
  scroll-behavior: smooth;
}
:root{
  --background-color-white: white;
  --background-color-nav: #264653;
  --text-color-black:black;
  --background-color-hamburger:rgb(198, 198, 198);
  --cursor:pointer;
  --full-screen-height:100vh;
}

/*navigation style start here*/
.container {
  display: inline-block;
  cursor: var(--cursor);
  float: right;
  margin: 20px 20px;
  background-color: var(--background-color-hamburger);
  padding: 10px;
}
#checkBox{
  display: none;
}
#checkBox:checked ~ nav{
  display: block;
}
nav{
  display: none; 
  background-color: var(--background-color-nav);
  height: var(--full-screen-height);
  width: 100%;
  top: 20%;
  left: 0px;
  z-index: 1;
  position: relative;
  padding-bottom: 20px;
  padding-top: 10px;
 }
 nav ul li a {
  text-decoration: none;
  line-height: 3;
  color: white;
 }
 nav ul li {
   font-size: 20px;
   list-style: none;
 }
nav:hover{
  cursor: var(--cursor);
}
nav ul{
  padding-top: 50px;
}
nav ul a:hover{
  transition: all 0.4s;
  color: rgb(165, 247, 0);
  cursor: var(--cursor);;
}
.current{
  text-decoration: underline;
  
}

/*header style here*/
header{
  background-color: #4361ee;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  width: 100%;
}
.header-logo{
  display: flex;
  flex-direction: column;
  top: 15%;
  left:5%;
  position: absolute;

}
.header-logo img{
  max-width: 120px;
  max-height: 120px;
  display: flex;
}
.header-logo h1{
  color: var(--background-color-white);
  max-width: 200px;
  font-weight: 200;
  
  
}
.big-screen-text{
  display: none;
}

/*main-style-start-here*/
.main-top-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 20px;
  max-width: 500px;
  margin: auto;
  font-weight: 300;
  font-size: 25px;
 
}
.main-top-text-container{
  background-color: rgba(204, 232, 237, 1);
}
.section-title{
display: flex;
flex-direction: row;
justify-content:flex-start;
padding: 30px 20px;
font-size: 25px;
font-weight: 300;
max-width: 800px;
margin: auto;
  
}

/*cards design-start-here*/
.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #FEFAE0;
  color: var(--text-color-black);
  max-width: 650px;
  max-height: 1200px;
  font-weight: 300;
}
.card-container2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #FEFAE0;
  color: var(--text-color-black);
  max-width: 650px;
  max-height: 1200px;
  font-weight: 300;
}
.card-container3{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #FEFAE0;
  color: var(--text-color-black);
  max-width: 650px;
  max-height: 1200px;
  font-weight: 300;
  height: 100%;
}

.card-img1{
 max-width: 850px;
 height: 300px;
 background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/visit-professor.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 
}
.card-img2{
  max-width: 850px;
  height: 300px;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/Nights-in-museum.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }
 .card-img3{
  max-width: 850px;
  height: 300px;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/energetical\ exibihtion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; 
 }
.cards-line{
  margin-left: 20px;
  width: 25%;
  opacity: 0.2;
  border: 2px solid black;
}
.card-items{
margin:20px 15px;
}
.cards-title{
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 20px;
}
.cards-title, .cards-text, .cards-line{
  padding: 0px 10px;
}
.card-more{
  text-decoration: underline;
  line-height: 2;
}
.cards-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-decoration: none;
  width: 180px;
  height: 50px;
  font-weight: 300;
  font-size: 20px;
  transition: 0.3s;
 
}
.cards-details:hover{
  background-color: rgb(48, 49, 49);
 
}

/*Footer
********************
********************
********************
******************** */
footer{
  background-color: #231f20;
}
.footer-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding:40px 40px;
  max-width: 800px;
  margin: auto;
  color: white;
}
.left-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo img{
  width: 70px;
  height: 70px;
  padding: 0;
}
.footer-logo p{
  max-width: 100px;
  font-weight: 600;
  padding: 0;
  margin-top: 0;

}
.footer-nav ul{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  max-width: 100px;
  margin-top: 0;
}
.footer-nav ul a{
  text-decoration: none;
  color: rgb(255, 255, 255); 
  line-height: 3;
}
.footer-nav ul li{
  list-style: none;
}
.footer-contact{
  color: rgb(255, 255, 255);
  line-height: 2;
}
.footer-contact-title{
  font-weight: 500;
  font-size: 20px;
}
.right-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
 
}
.social-media-logos{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;

}
.social-media-logos img{
 width: 30px;
 height: 30px;
 margin: 5px;
 padding: 5px;
 background-color: white;
}
.right-side-text{
 width: 140px;
 margin-left: 10px;
 
}
.underline{
  text-decoration: underline;
}


/*@Media
********************
********************
********************
******************** */


@media screen and (min-width: 800px) {
  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start
  }
  .footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    
  }
  .right-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;
  }
  .hamburger-icon{
    display: none;
  }
 
  nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 800px;
    top: 0%;
    background: none;
    margin: auto;
}

nav ul a{
  display: inline;
  margin: 5px;
  padding-right: 20px;
  top: 10%;
}
nav ul a li{
  font-size: 20px;
}
nav ul{
  padding-top: 0px;
}
.container{
  display: none;
}
.ul-col{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--background-color-white);
}
.main-top-text-container{
  display: none;
}
.big-screen-text{
  font-weight: 300;
  font-size: 25px;
  display: block;
  background-color: rgba(204, 232, 237, 1);
  opacity:0.9;
  position: absolute;
  top: 40%;
  right: 20%;
  max-width: 300px;
  padding: 20px;
}
header{
  background-position: center;
  height: 55vh;
  width: 100%;
}
.section-title{
  font-size: 30px;
  font-weight: 400;
}
}
@media screen and (max-height: 700px) {
  nav{
    top: 0%;
  }
  .header-logo img{
    width: 70px;
  }
  .header-logo h1{
    font-size: 20px;
  }
  .big-screen-text{
    display: none;
  }
  .main-top-text-container{
    display: block;
  }
}