body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
:root{
  --background-color-white: white;
  --background-color-nav: #264653;
  --text-color-black:black;
}

/*navigation style start here*/
nav{
 display: none; 
 background-color: var(--background-color-nav);
 height: 100vh;
 width: 100%;
 left: 0px;
 z-index: 100;
 position: relative;
 padding-bottom: 20px;
}

nav:hover{
  cursor: pointer;
}

nav ul{
  padding-top: 50px;
}
nav ul li{
  list-style: none;
}
nav ul a{
 text-decoration: none;
 color:white;
 display: block;
 line-height: 3;
 font-weight: 300;
 font-size: 20px;
 padding: 0px;
}

nav ul a:hover{
  text-decoration: underline;
}
/*Hamburger-menu*/
#menu-checkbox:checked ~ nav{
  display: block;
}
#menu-checkbox:checked ~ .hamburger-icon{
  display: none;
}
#menu-checkbox{
  display: none;
}
#menu-checkbox2{
  display: none;
}
.hamburger-icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--background-color-white);
  float: right;
  margin: 50px;
  background-color: rgb(36, 36, 36);
  opacity: 0.9;
  width: 50px;
  height: 50px;
}
.hamburger-icon:hover{
  color: rgb(43, 196, 43);
  background-color: rgb(80, 80, 80);
}
.ul-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--background-color-white);
}
.col-men{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  c
}
.closing-nav{
  margin-right: 40px;
  margin-top: 80px;
  z-index: 100;
}
.closing-nav:hover{
  color: rgb(141, 48, 48);
}
.current{
  text-decoration: underline;
}
/*header style here*/
header{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(/images/sem.jpg__1920x0_q85_crop_83.jpg);
  background-color: #49c3ab;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
}
.header-logo{
  display: flex;
  flex-direction: column;
  top: 15%;
  left:5%;
  position: absolute;

}
.header-logo img{
  max-width: 120px;
  max-height: 120px;
  display: flex;
}
.header-logo h1{
  color: var(--background-color-white);
  max-width: 200px;
  font-weight: 200;
  
  
}
.big-screen-text{
  display: none;
}
/*main-style-start-here*/
.main-top-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 20px;
  max-width: 500px;
  margin: auto;
  font-weight: 300;
  font-size: 25px;
 
}
.main-top-text-container{
  background-color: rgba(204, 232, 237, 1);
}

.section-title{
display: flex;
flex-direction: row;
justify-content:flex-start;
padding: 30px 20px;
font-size: 25px;
font-weight: 300;
max-width: 800px;
margin: auto;
  
}

/*cards design-start-here*/
.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffc9c2;
  color: var(--text-color-black);
  max-width: 650px;
  max-height: 650px;
  font-weight: 300;
}
.card-container2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #edebe9;
  color: var(--text-color-black);
  max-width: 650px;
  max-height: 650px;
  font-weight: 300;
}
.card-container3{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(212, 240, 228);
  color: var(--text-color-black);
  max-width: 650px;
  max-height: 650px;
  font-weight: 300;
  height: 100%;
}
.card-container4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(0, 255, 145);
  color: var(--background-color-white);
  font-weight: 300;
  height: 100%;
  transition: 0.4s;
  
}
.card-container4:hover{
  opacity: 0.8;
}
.card-visit-us{
  max-width: 1250px;
  max-height: 900px;
  width: 100%;
  height: 100%;
}
.cards-details-visit-us{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;;
  width: 220px;
  height: 50px;
  font-weight: 300;
  font-size: 20px;
  transition: 0.3s;

 
}
.cards-details-visit-us:hover{
  background-color: rgb(167, 167, 167);
}
.card-img1{
 max-width: 650px;
 height: 300px;
 background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/card-1-main-page.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 
}
.card-img2{
  max-width: 650px;
  height: 300px;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/card-2-main-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }
 .card-img3{
  max-width: 650px;
  height: 300px;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/card-3-main-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; 
 }
 .card-img4{
  max-width: 1250px;
  height: 400px;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/visit-us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
 }
 
.cards-line{
  margin-left: 20px;
  width: 25%;
  opacity: 0.2;
  border: 2px solid black;
}
.card-items{
margin:20px 15px;
}
.cards-title{
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 20px;
}
.cards-title, .cards-text, .cards-line{
  padding: 0px 10px;
}
.card-more{
  text-decoration: underline;
  line-height: 2;
}
.cards-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-decoration: none;
  width: 180px;
  height: 50px;
  font-weight: 300;
  font-size: 20px;
  transition: 0.3s;
 
}
.cards-details:hover{
  background-color: rgb(48, 49, 49);
 
}

/*Footer
********************
********************
********************
******************** */
footer{
  background-color: #231f20;
}
.footer-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding:40px 40px;
  max-width: 800px;
  margin: auto;
  color: white;
}
.left-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo img{
  width: 70px;
  height: 70px;
  padding: 0px;
}
.footer-logo p{
  max-width: 100px;
  font-weight: 600;
  padding: 0;
  margin-top: 0;

}
.footer-nav ul{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  max-width: 100px;
  margin-top: 0;
}
.footer-nav ul li{
  list-style: none;
}
.footer-nav ul a{
  text-decoration: none;
  color: rgb(255, 255, 255); 
  line-height: 3;
}
.footer-contact{
  color: rgb(255, 255, 255);
  line-height: 2;
}
.footer-contact-title{
  font-weight: 500;
  font-size: 20px;
}

.right-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
 
}
.social-media-logos{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.social-media-logos img{
 width: 30px;
 height: 30px;
 margin: 5px;
 padding: 5px;
 background-color: white;
}
.right-side-text{
 width: 140px;
 
}
.underline{
  text-decoration: underline;
}


/*@Media
********************
********************
********************
******************** */


@media screen and (min-width: 800px) {
  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start
  }
  .footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    
  }
  .right-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;
  }
  .hamburger-icon{
    display: none;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 800px;
    background: none;
    margin: auto;

}

nav ul a{
  display: inline;
  margin: 5px;
  padding-right: 20px;
}
.closing-nav{
  display: none;
}
.ul-col{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--background-color-white);
}
.main-top-text-container{
  display: none;
}
.big-screen-text{
  font-weight: 300;
  font-size: 25px;
  display: block;
  background-color: rgba(204, 232, 237, 1);
  opacity:0.9;
  position: absolute;
  top: 40%;
  right: 20%;
  max-width: 300px;
  padding: 20px;
}
header{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(/images/sem.jpg__1920x0_q85_crop_83.jpg);
  background-color: #49c3ab;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
}
.section-title{
  font-size: 30px;
  font-weight: 400;
}
.card-container1, .card-container2, .card-container3{
  max-width: 450px;
}
}
@media screen and (max-height: 560px) {
  .header-logo img{
    width: 70px;
  }
  .header-logo h1{
    font-size: 20px;
  }
  .big-screen-text{
    display: none;
  }
  .main-top-text-container{
    display: block;
  }
}